<footer id ="footer">
    <div id="footer-contents">
        <div>
            <img src="/assets/images/logo3.png" id="footerLogo" alt="Qwerty Academy Logo">
        </div>
        <div id="contacts">
            <div><h4>Контакты</h4></div>
            <div>
                <div id="contactInfo">
                    <div id="contactInfoWrap">
                        <h5>+7 (747) 739 83 01</h5>
                        <h5>+7 (747) 485 15 84</h5>
<!--                                    <h5>qwerty-academy@gmail.com</h5>-->
                    </div>
                </div>

                <div id="socialNet">
                    <a class="social" href="https://bit.ly/2OhKaQZ">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="social" href="#">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a class="social" href="https://www.instagram.com/qwerty_academy/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social" href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
    
    
    <h6>Qwerty Academy. 2020 &copy;</h6>
</footer>